.memberCard {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #b58325;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px 0;
    width: 90%;
    height: 190px;
    overflow: hidden;
}

.memberImage {
    width: 120px; 
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    border: 3px solid #b58325;
}

.memberDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    width: calc(100% - 120px);
    height: 100%;
}

.memberInfo {
    display: flex;
    flex-direction: column;
}

.memberName {
    margin: 0 0 5px 15px;
    padding: 0;
    color: black; /* Explicitly setting color to black */
}

.memberInfo p, .memberInfo h3{
    margin: 5px 0;
    padding-left: 15px;
    color: black; /* Explicitly setting color to black */
}

.viewProfile {
    background-color: #b58325;
    color: #fff;
    border: none;
    margin: 20px;
    align-self: flex-start;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewProfile:hover {
    background-color: #b58325;
}